extends ./registration_base.jade

block title
    title Register
block content
    h1 {% trans "Account Activated" %}
    .container-fluid
        p
            | {% trans "Your account is now activated." %}
            | {% if not user.is_authenticated %}
            | {% trans "You can log in." %}
            | {% endif %}
