extends ./registration_base.jade

block title
    title {% trans "Log in" %}
block content
    h1 {% trans 'Log In' %}
    .container-fluid
        .col-sm-6
            | <br><br>
            |<form method="post" action="">
            |    {% csrf_token %}
            |    {{ form | crispy  }}
            |    <input type="submit" value="{% trans 'Log in' %}" />
            |    <input type="hidden" name="next" value="{{ next }}" />
            |</form>

            |<p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
            |<p>{% trans "Not a member?" %} <a href="{% url 'customer_registration' %}">{% trans "Register" %}</a>.</p>
