extends ./registration_base.jade

block title
    title Register
block content
    h1 {% trans "Reset password" %}
    .container-fluid
        .col-sm-6
            p
                | {% blocktrans %}
                | Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
                | {% endblocktrans %}
            | <br><br>
            | <form method="post" action="">
            | {% csrf_token %}
            | {{ form | crispy  }}
            | <input type="submit" value="{% trans 'Reset password' %}" />
            | </form>
