extends ./registration_base.jade

block title
    title Register
block content
    h1 {% trans "Change password" %}
    .container-fluid
        .col-sm-6
            | <br><br>
            | <form method="post" action="">
            | {% csrf_token %}
            | {{ form | crispy  }}
            | <input type="submit" value="{% trans 'Change password' %}" />
            | </form>
