extends ./registration_base.jade

block title
    title Register
block content
    h1 {% trans "Password reset complete" %}
    .container-fluid
        p
            | {% trans "Your password has been reset!" %}
            | {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.

