extends ./registration_base.jade

block title
    title Register
block content
    h1 {% trans "Confirm password reset" %}
    .container-fluid
        .col-sm-6
            p {% trans "Enter your new password below to reset your password:" %}
            | <br><br>
            | <form method="post" action="">
            | {% csrf_token %}
            | {{ form | crispy  }}
            | <input type="submit" value="{% trans 'Set password' %}" />
            | </form>