extends ./registration_base.jade

block title
    title Register
block content
    h1 {% trans "Password reset" %}
    .container-fluid
        p
            | {% blocktrans %}
            | We have sent you an email with a link to reset your password. Please check
            | your email and click the link to continue.
            | {% endblocktrans %}
