extends ./registration_base.jade

block title
    title Register
block content
    h1 {% trans "Registration is closed" %}
    .container-fluid
        h3 {% trans "Sorry, but registration is closed at this moment. Come back later." %}
