<!DOCTYPE html>{% load staticfiles i18n cloudinary crispy_forms_tags crispy_forms_field humanize %}
{% get_current_language as LANGUAGE_CODE %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>{% cloudinary_includes %}
{% cloudinary_js_config %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="K0n1HKCAoe4RBEcyo0jVEUPDiqzliwDNkT0kNvq6bek"><!--[if lte IE 8]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js">
      <noscript><strong>Warning!</strong>Your browser does not support HTML5 so some elements on this page are simulated using JScript. Unfortunately your browser has JScript disabled. Please enable it in order to display this page.</noscript>
    </script><![endif]-->
    <!--[if lte IE 6]><meta http-equiv="imagetoolbar" content="no" /><![endif]-->
    <title>Register for an account</title>
    <meta name="robots" content="index, follow">
    <link rel="apple-touch-icon" href="{% static 'images/logo.png' %}">
    <link rel="shortcut icon" href="{% static 'images/logo_pVn_icon.ico' %}" type="image/x-icon">
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <!-- CSS-->
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/morphext.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- JS-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/vendor/parallax.js' %}"></script>
    <!--script(src="{% static 'js/vendor/morphext.min.js' %}")-->
    <script src="{% static 'js/vendor/typed.min.js' %}"></script>
    <script src="{% static 'js/src/main.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">{% if success %}
        <div role="alert" class="alert alert-success alert-dismissable alert-hide">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times</span></button>{{ success }}
        </div>{% endif %}
        {% if error %}
        <div role="alert" class="alert alert-danger alert-dismissable alert-hide">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times</span></button>{{ error }}
        </div>{% endif %}
        <div class="navbar-header"><a href="{% url 'index' %}" class="navbar-brand"><img id="logo_with_name" src="{% static 'images/logo_with_name.svg' %}" alt="Logo/Brand" height="40"></a>
          <!-- Mobile Menu--><a href="#" id="menu-icon"></a>
          <!-- Content-->
          <ul class="nav navbar-nav pull-right">
            <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a href="{% url 'index' %}#about" class="nav-link">{% trans 'About Us' %}</a></li>
            <li class="nav-item">{% if user.is_authenticated %}<a href="{% url 'profile' %}" class="nav-link">{% trans 'Profile' %}</a></li>
            <li class="nav-item"><a href="{% url 'auth_logout' %}" class="nav-link">{% trans 'Log Out' %}</a>{% else %}<a href="{% url 'customer_registration' %}" class="nav-link">{% trans 'Register' %}</a></li>
            <li class="nav-item"><a href="{% url 'auth_login' %}" class="nav-link">{% trans 'Log In' %}</a>{% endif %}</li>
            <li class="nav-item"><a href="/en/" class="nav-link">EN</a>/<a href="/de/" class="nav-link">DE</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="wrap">
      <div id="main">
        <h1>{% trans 'Register' %}</h1>
        <div class="container-fluid">
          <div class="col-sm-6">
            <form method="post" action="">
            {% csrf_token %}
            {{ form | crispy  }}
            <input type="submit" value="{% trans 'Submit' %}" />
            </form>
          </div>
          <div class="col-sm-6">
            <div class="row registration-image"></div>
            <div class="row text-sm-center">
              <h1>{% trans 'Get Registered and Know your orders' %}</h1>
              <div class="well">
                <h4>{% trans 'Check how much you paid ?' %}</h4>
                <h4>{% trans 'When did you last order ?' %}</h4>
                <h4>{% trans 'Which shop provided you the best stuff ?' %}</h4>
                <h4>{% trans 'Save your credit card and just simply Order' %}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div id="footer-gradient">
        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 text-xs-left">
                <div class="row"><a href="/" class="navbar-brand"><img id="logo_with_name" src="{% static 'images/logo_with_name_white.png' %}" alt="Logo/Brand" height="50" class="img-responsive"></a></div>
                <div class="row"><i class="fa fa-envelope">&nbsp;</i><a href="mailto:contact@transgero.com">contact@transgero.com</a><br><br><a href="{% url 'imprint' %}">{% trans 'Imprint' %}</a>&nbsp; | &nbsp;<a href="{% url 'privacy' %}">{% trans 'Privacy' %}</a></div>
              </div>
              <div class="col-sm-6 text-xs-right">
                <div class="row"><a href="https://www.facebook.com/transgero" target="_blank"><img src="{% static 'images/icons/facebook.svg' %}" alt="Facebook" width="32" class="svg social-media"></a><a href="https://www.twitter.com/TransgeroCom" target="_blank"><img src="{% static 'images/icons/twitter.svg' %}" alt="Twitter" width="32" class="svg social-media"></a><a href="https://www.instagram.com/transgero" target="_blank"><img src="{% static 'images/icons/instagram.svg' %}" alt="Instagram" width="32" class="svg social-media"></a></div>
                <div class="row"><br>
                  <p>Copyright © 2016</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="{% static 'js/vendor/tether.min.js' %}"></script>
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>{% if not request.user.is_superuser and STAGE == 'default' %}
          <script>
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
             ga('create', 'UA-83361244-1', 'auto');
             ga('send', 'pageview');
          </script>{% else %}
          <script>
            ga = function () {
                console.log('ga:', arguments);
            };
            
          </script>{% endif %}
  <script>$('.alert-hide').delay(5000).fadeOut(3000);</script>
</html>