extends ./registration_base.jade

block title
    title Register for an account
block content
    h1 {% trans 'Register' %}
    .container-fluid
        .col-sm-6
            |<form method="post" action="">
            | {% csrf_token %}
            | {{ form | crispy  }}
            | <input type="submit" value="{% trans 'Submit' %}" />
            | </form>
        .col-sm-6
            .row.registration-image
            .row.text-sm-center
                h1 {% trans 'Get Registered and Know your orders' %}
                .well
                    h4 {% trans 'Check how much you paid ?' %}
                    h4 {% trans 'When did you last order ?' %}
                    h4 {% trans 'Which shop provided you the best stuff ?' %}
                    h4 {% trans 'Save your credit card and just simply Order' %}
