extends ./registration_base.jade

block title
    title Register
block content
    h1 {% trans "Activation email sent" %} !
    .container-fluid
        h3 {% trans "Please check your email to complete the registration process." %}
