extends ./registration_base.jade

block title
    title Register
block content
    h1 {% trans "Account Activation Resent" %}
    .container-fluid
        h3 {% blocktrans %} We have sent an email to {{ email }} with further instructions.{% endblocktrans %}
