extends ../layout.jade

block content
    .container
        .row
            .col-sm-offset-4.col-sm-4
                | {{ errors }}
                form#inquiry.ajaxForm(method='POST', action="{% url 'inquiry' %}", enctype='multipart/form-data')
                    | {% csrf_token %}
                    | {{ customer_form|crispy }}
                    | {{ inquiry_form|crispy }}
                    | {{ article_error }}
                    | {{ article_form|crispy }}
                    input(type='submit', value='Submit')
