extends ./profile_layout.jade

block user_action_data
    .row
        .well.order-box
            .row
                .col-sm-6.text-sm-left
                    a.btn.btn-warning.active.btn-sm(href="{% url 'profile' %}") {% trans 'Profile' %}
                .col-sm-6.text-sm-right
                    a.btn.btn-success.active.btn-sm(href="{% url 'all_orders' %}") {% trans 'All Orders' %}
    | {% if is_employee %}
    .row
        .well.order-box
            .col-sm-12
                h4 Assignments
    | {% for order in orders %}
    .row
        .well.order-box
            .row
                .col-sm-2
                    p.order-details
                        a(href="{% url 'employee_order_details' order_id=order.display_hashid %}") ID: {{ order.display_hashid }}
                .col-sm-3
                    p.order-details {{ order.item }}
                .col-sm-2
                    p.order-details
                        a(href="#" title="{% trans 'Details' %}" data-toggle="popover" data-content="{% trans 'Price' %}: {{ order.price }}, {% trans 'Fee' %}: {{ order.final_fee }}") &euro; {{ order.get_total_charge }}
                .col-sm-2
                    | {% if order.status == 0 %}
                    img.img-responsive(src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO")
                    | {% elif order.status == 1 %}
                    img.img-responsive(src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress")
                    | {% elif order.status == 2 %}
                    img.img-responsive(src="{% static 'images/home-delivered.svg' %}" height="40px" alt="")
                    | {% endif %}
                .col-sm-3
                    p.order-details {{ order.created|date }}
    hr
    | {% endfor %}
    +pagination("{% url 'employee_profile' %}")
    | {% else %}
    .row
        .well.order-box
            .col-sm-12
                h4 {% trans 'Please wait for your approval.' %}
    | {% endif %}


block extra_js
    script.
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });