extends ./profile_layout.jade

block user_action_data
    .row
        .well.order-box
            .row
                .col-sm-4
                    button.btn.btn-danger.active.btn-sm(type="button" data-toggle="modal" data-target="#my_order") {% trans 'Order Online' %}
                | {% if is_employee %}
                .col-sm-4.text-sm-right
                    a.btn.btn-success.active.btn-sm(href="{% url 'all_orders' %}") {% trans 'All Orders' %}
                .col-sm-4.text-sm-right
                    a.btn.btn-warning.active.btn-sm(href="{% url 'employee_profile' %}") {% trans 'Employee' %}
                | {% else %}
                .col-sm-8.text-sm-right
                    a.btn.btn-warning.btn-sm(href="{% url 'employee_profile' %}?create=True") {% trans 'Become a GERO' %}
                | {% endif %}

    .row
        .col-sm-12
            h4 {% trans 'Open orders' %}
            .table-responsive
                table.table.table-hover
                    thead
                        tr
                            th {% trans 'Item' %}
                            th {% trans 'Price' %}
                            th {% trans 'City' %}
                            th {% trans 'Fee' %}
                            th {% trans 'Status' %}
                    tbody
                        | {% for order in current_orders %}
                        | {% if order.status == 0 %}
                        tr.clickable-row(data-href="{% url 'customer_order_process' order_id=order.display_hashid %}")
                            td {{ order.item }}
                            td {{ order.price }}
                            td {{ order.address_city }}
                            td {{ order.fee }}
                            td
                                | {% if order.status == 0 %}
                                img.img-responsive(src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO")
                                | {% elif order.status == 1 %}
                                img.img-responsive(src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress")
                                | {% elif order.status == 2 %}
                                img.img-responsive(src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete")
                                | {% endif %}
                        | {% else %}
                        tr.clickable-row(data-href="{% url 'customer_order_details' order_id=order.display_hashid %}")
                            td {{ order.item }}
                            td {{ order.price }}
                            td {{ order.address_city }}
                            td {{ order.fee }}
                            td
                                | {% if order.status == 0 %}
                                img.img-responsive(src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO")
                                | {% elif order.status == 1 %}
                                img.img-responsive(src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress")
                                | {% elif order.status == 2 %}
                                img.img-responsive(src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete")
                                | {% endif %}
                        | {% endif %}
                        | {% endfor %}

    hr
    .row
        .well.order-box
            .col-sm-12
                h4 {% trans 'Closed orders' %}
    | {% for order in orders %}
    .row
        .well.order-box
            .row
                .col-sm-2
                    p.order-details
                        a(href="{% url 'customer_order_details' order_id=order.display_hashid %}") ID: {{ order.display_hashid }}
                .col-sm-3
                    p.order-details {{ order.item }}
                .col-sm-2
                    p.order-details
                        a(href="#" title="{% trans 'Details' %}" data-toggle="popover" data-content="{% trans 'Price' %}: {{ order.price }}, {% trans 'Fee' %}: {{ order.fee }}") &euro; {{ order.get_total_charge }}
                .col-sm-2
                    | {% if order.status == 0 %}
                    img.img-responsive(src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO")
                    | {% elif order.status == 1 %}
                    img.img-responsive(src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress")
                    | {% elif order.status == 2 %}
                    img.img-responsive(src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete")
                    | {% endif %}
                .col-sm-3
                    p.order-details {{ order.created|date }}
    hr
    | {% endfor %}
    +pagination("{% url 'profile' %}")

block extra_js
    script.
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });