extends ./../layout.jade

block title
    title Profile
block content
    .mainpage
        | {% if user.is_authenticated %}
        h1 {% trans "Welcome to your Profile" %}
        .container-fluid
            .col-sm-4.well
                | {% if user.title == 1 %}
                h4  Dr. {{ user.first_name }} {{ user.last_name }}
                | {% elif user.title == 2 %}
                h4  Prof. {{ user.first_name }} {{ user.last_name }}
                | {% else %}
                h4  {{ user.first_name }} {{ user.last_name }}
                | {% endif %}
                | {% if user.email %}
                h6 Email: {{ user.email }}
                | {% else %}
                h6 Email:
                | {% endif %}
                | {% if user.phone %}
                h6 Phone: {{ user.phone }}
                | {% else %}
                h6 Phone:
                | {% endif %}
                | {% if user.preferred_contact_type %}
                h6 {% trans 'Preferred contact type' %}: {{ user.preferred_contact_type }}
                | {% else %}
                h6 {% trans 'Preferred contact type' %}:
                | {% endif %}
                | {% if user.address_street %}
                h6 {% trans 'Street' %}: {{ user.address_street }}
                | {% else %}
                h6 {% trans 'Street' %}:
                | {% endif %}
                | {% if user.address_house_number %}
                h6 {% trans 'House nr.' %}: {{ user.address_house_number }}
                | {% else %}
                h6 {% trans 'House nr.' %}:
                | {% endif %}
                | {% if user.address_extra %}
                h6 {% trans 'Address more info' %}: {{ user.address_extra }}
                | {% else %}
                h6 {% trans 'Address more info' %}:
                | {% endif %}
                | {% if user.address_city %}
                h6 {% trans 'City' %}: {{ user.address_city }}
                | {% else %}
                h6 {% trans 'City' %}:
                | {% endif %}
                | {% if user.address_postal_code %}
                h6 {% trans 'Postal code' %}: {{ user.address_postal_code }}
                | {% else %}
                h6 {% trans 'Postal code' %}:
                | {% endif %}
                | {% if user.address_country %}
                h6 {% trans 'Country' %}: {{ user.address_country }}
                | {% else %}
                h6 {% trans 'Country' %}:
                | {% endif %}
                br
                | {% if account_edit_form %}
                button.btn.btn-default.btn-primary(type="button" data-toggle="modal" data-target="#editProfile") {% trans 'Edit' %}
                //Modal
                .modal.fade(id="editProfile" role="dialog")
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                button.close(type="button" data-dismiss="modal") &times;
                                h1.modal-title {% trans 'Edit' %}
                            .modal-body
                                form.ajaxForm(id="profile_edit_save" method="POST" action="{% url 'profile' %}" enctype="multipart/form-data")
                                    | {% csrf_token %}
                                    .formFields {{ account_edit_form|crispy }}
                                    button.btn.btn-danger.active(type="submit") {% trans 'Save' %}
                | {% endif %}
            .col-sm-8.profile-data
                block user_action_data
        | {% else %}
        .container-fluid
            .col-sm-3
                h2 {% trans "You are not logged in !" %}
                a.btn.btn-default.btn-primary(role="button" href="{% url 'auth_login' %}") {% trans 'Log In' %}
            .col-sm-9.text-sm-center
                block user_action_data
        | {% endif %}


block modal
    //Modal
    .modal.fade(id="my_order" role="dialog")
        .modal-dialog(role='document')
            .modal-content
                form.ajaxForm(id="order_save" method="POST" action="{% url 'order_save' %}" enctype="multipart/form-data")
                    | {% csrf_token %}
                    .modal-header
                        button.close(type="button" data-dismiss="modal") &times;
                        h1.modal-title {% trans 'Order' %}
                    .modal-body
                        .formFields {{ order_form|crispy }}
                    .modal-footer
                        button.btn.btn-success.active.pull-right(type="submit" id="order__delivery_form") {% trans 'Pay on Delivery' %}

block extra_js
    script.
        $.fn.stars = function() {
            return $(this).each(function() {
                var rating = $(this).data("rating");
                var numStars = $(this).data("numStars");
                var fullStar = Math.floor(rating);
                var halfStar = 0;
                if ((rating%1) !== 0) {
                    halfStar = 1;
                }
                var noStar = numStars - halfStar - fullStar;
                var star1 = new Array(fullStar + 1).join('<img src="{% static "images/star.svg" %}" height="20">');
                var star2 = (halfStar !== 0) ? '<img src="{% static "images/halfstar.svg" %}" height="20">': '';
                var star3 = new Array(noStar + 1).join('<img src="{% static "images/emptystar.svg" %}" height="20">');
                $(this).html(star1 + star2 + star3);
            });
        }
        $('.stars').stars();
