$brand-padding: 20px;
// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
.home {
    h1 {
        font-size: $font-size-h1 * 1.5;
        margin-bottom: 3px;
    }
    h2 {
        padding: 10px;
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    li {
        font-size: 20px;
    }
    .tagline {
        font-size: 21px;
    }
    @media(max-width: map_get($container-max-widths, xs)px) {
        min-height: 600px;
    }
}
.home2 {
    background-color: white;
    min-height: -webkit-calc(100vh - 240px);
    min-height:    -moz-calc(100vh - 240px);
    min-height:         calc(100vh - 240px);

    .claim-text {
        padding: 50px 0 50px;

        h1 {
            font-size: $font-size-h1 * 1.5;
            color: #333;
            margin-bottom: 40px;
        }
        @include media-breakpoint-down(sm) {
            min-height:450px;

            h1 {
                font-size: $font-size-h1*1.1;
            }
        }
    }
}
.about-us {

    .profile {
        padding-top: 40px;

        .profile-title {
            margin-top: 40px;
            margin-bottom: 20px;
        }
        .profile-text {
            padding: 0 40px;
        }
    }
}

// Search related changes below
.mainpage {

    .highlight-box__search {
        background-color: rgba(255,255,255,0.9);
        border-radius: 5px;
        color: black;

        @media(min-width: $screen-xs - 170) {
            width: 380px !important;
            margin: 0 auto;
            left:0;
            right:0;
        }

        @media(min-width: $screen-xs) {
            width: 480px !important;
            margin: 0 auto;
            left:0;
            right:0;
        }

        @media(min-width: $screen-sm-min) {
            width: 640px !important;
            margin: 0 auto;
            left:0;
            right:0;
        }
        @media(min-width: $screen-md-min) {
            width: 760px !important;
        }
        @media(min-width: $screen-lg-min) {
            width: 1000px !important;
        }
        button {
            .text {
                font-size: 18px;
                font-weight: normal;
            }
            .caret {
                color: black;
            }
        }
        button, input {
            height: auto;
            font-size: 18px;
            min-height: 46px;

        }
        .btn-light.dropdown-toggle {
            background-color: white !important;
            color: black;
        }
        .dropdown-menu {
            li {
                line-height: 1.5;
                font-size: 20px;
            }
        }
        .search__input-inner {
            min-height: 45px;
            height: auto;
        }
        .search__text {
            margin-bottom: $brand-padding/2;
            color: black;

            .search__title {
                font-weight: 400;
                line-height: 1.2;
                font-size: $font-size-base*2.5;
                background: transparent;
                text-align: center;
                margin-bottom: 0;

                @media(max-width: $screen-xs-max) {
                    font-size: $font-size-h2/1.1;
                }
            }
            .search__subtitle {
                font-weight: 200;
                line-height: 1;
                font-size: $font-size-base*1.5;
                background: transparent;
                text-align: center;

                @media(max-width: $screen-xs-max) {
                    font-size: $font-size-base*1.4;
                }

                .list-inline {
                    display: inline-block;
                }
            }
            .icon-check {
                max-width: $brand-padding;
                font-size: $font-size-h4;
                font-weight: 200;
                fill: black;
            }
            p {
                margin: 11px 0;
            }
        }
        .search__submit button {
            font-weight: 500;
            color: white;
            background-color: $brand-primary;
            height: auto;

            &:hover {
                background-color: white;
                color: $brand-primary;
                border: 1px solid $brand-primary;
            }
        }
    }
    .yourlabs-autocomplete > span {
        font-size: 20px;
        line-height: 1.5;
    }
    .arrow-wrap {
        position: absolute;
        z-index: 1;
        left: 50%;
        margin-top: -140px;
        margin-left: -37px;
        background: transparent;
        width: 10em;
        height: 10em;
        padding: 4em 2em;
        font-size: 0.5em;
        display: block;

        span {
            font-size: $font-size-h1*2;
            margin-top: -$brand-padding*1.7;
            color: white;
            margin-left: -5px;
        }
    }
    .arrow-wrap {
        -webkit-animation: arrows 2.8s 0.4s;
        -webkit-animation-delay: 1s;
    }
}

.claim {
    background: url('../images/landing_page_photo.jpg') #f5f5f5 no-repeat center bottom;
    background-size: cover;
    min-height: 500px;
    position: relative;
}
.highlight-box__inverse {
    position: absolute;
    width: 100%;
    min-height: 100px;
    padding-top: 40px;
    padding-bottom: 40px;

    button {
        width: 99%;
    }
}

.claim__inner {
    padding-top: 15vh;
    width: 100%;
    height: calc(100vh - #{$navbar-height} - 100px);
    text-align: center;

    h1 {
        font-weight: 500;
    }
    h3 {
        color: #333333;
        margin-top: 0px;
    }
    .highlight-box--small {
        min-height: 10vh;
    }
    .text-danger {
        padding: $brand-padding;
        opacity: 0.8;
    }
    .claim__inner-box {
        background-color: rgba(255, 255, 255, 0.55);

        h1 {
            margin: 20px 0;
        }
        .item, .active {
            padding: $brand-padding;
            transition: 0.9s ease-in-out left;
            transition: .9s, ease-in-out, left;
            -webkit-transition: 0.9s ease-in-out left;
            -webkit-transition: 0.9s, ease-in-out, left;
            -moz-transition: .9s, ease-in-out, left;
            -o-transition: .9s, ease-in-out, left;

            button {
                margin-bottom: 20px;
            }
        }
    }
    .main-search-group {
        display: flex;

        .input-group-btn {

            @media(min-width: $screen-sm-min) {

                button {
                    width: 140px !important;
                }
            }
        }

        @media (max-width: $screen-xs-max) {
            display: block;

            input {
                font-size: 12pt;
            }
            .input-group-btn {

                margin-top: 20px;
                min-width: 140px;

                button {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
    .main-search-tag {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1000;
        overflow: hidden;
        text-align: center;

        .main-search-text {
            color: white;
            font-size: 18px;
            font-weight: 600;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 22.5%;
            left: 10%;
            right: -20%;
        }
    }
    .main-search-check {
        margin-top: -4px;

        &:first-of-type {
            margin-left: 0;
        }
    }
}

.claim__subtitle {
    height: $brand-padding*5;
    text-align: center;
    display: table;

    h2 {
        margin: 0 auto;
    }
}

.benefits {
    margin-top: $brand-padding*2.5;
    padding-bottom: 0px;

    .benefits {

        .benefit__element {

            img {
                vertical-align: middle;
                display: inline-block;
                margin-top: -10%;
            }
        }
    }
}
@media(max-width: $screen-xs-max) {

    .benefits.page {
        margin-top: -20px;
        margin-bottom: 40px;
    }
}
.mainpage {
    .benefits {
        @media(max-width: $screen-sm-max) {
            margin-top: 50px;
        }
    }
}
.italic {
    font-style: italic;
}
.maps {

    padding: 0 0 50px 0;

    .map {
        width: 100%;
        height: 500px;
    }
    .state-list {

        margin-top: $brand-padding;
        padding-left: $brand-padding;
        list-style-type: disc;

        @media(max-width: $screen-xs-max) {
            padding-top: 30px;
        }
        li {
            padding-left: $brand-padding/1.5;
            color: $brand-primary;

            @media(max-width: $screen-xs-max) {
                padding-left: 5px;
                font-size: 10pt;
            }
        }
        a {
            color: black;

            &:hover {
                color: $brand-primary;
            }
        }

        @media(min-width: $screen-sm-min) {
            margin-top: 70px;
        }
    }
}
#team_panel {
    display: none;
}
#all_cities {
    display: none;
}
#payment {
    display: none;
}
.hover-indicator {
    &:hover {
        text-shadow: 2px 2px darkgray;
    }
}
.payment-errors {
    color: red;
}
.payment_details {
    color: maroon;
    font-size: 18px;
}
.tagline {
    color: maroon;
    font-family: "SansSerif";
    font-style: italic;
}
.gero-claim {
    background: url('../images/picnic.jpg') #f5f5f5 no-repeat center bottom;
    background-size: cover;
    min-height: 500px;
    position: relative;
    border-radius: 50px;
}
.gero-form {
    padding: 20px;
}
.places {
    font-size: 15px !important;
    color: #690000;
    &:hover {
        color: #dd0000;
    }
}
.city-status {
    display: none;
}
