.order-bid-box {
    background-color: #ffebd4;
    border-radius: 20px;
    border-width: 3px;
    border-color: #894220;
    margin-bottom: 10px;
    padding: 20px;
    p {
        margin-bottom: 0px;
        font-size: 22px;
    }
}
.order-bid-box:hover {
        background-color: #ffc87f;
    }
.order-bid-headings {
    margin-top: 40px;
}