.registration-image {
    margin-top: 40px;
    margin-bottom: 40px;
    background: url('../images/supermarket.jpg') #f5f5f5 no-repeat center bottom;
    background-size: cover;
    min-height: 500px;
    position: relative;
    border-radius: 50px;
}