html, body {
    height: 100%;
}
#wrap {
    padding-top: 20px;
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: $footer-height+50px;
}
body {
    font-family: 'Gillsans';
    font-size: 18px;
    background:white;
    margin: $navbar-height 0 0;
}
article {
    padding-top: 40px;
}
.page {
    padding-top: 10px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.keyNumbers {
    font-family: 'SansSerif';
    font-size: 32px;
    color:maroon;
    font-weight: bold;
}
.formFields {
    font-family: "Gillsans";
    font-size: 20px;
    background:white;
    font-weight: 400;
    color: #3c3b3c;
    text-align: left;
}
[id*='error'] {
    color:red;
}
.image-icons {
  margin-right: 10px;
}
.highlight {
    color: maroon;
    font-size: 22px;
}
.well {
    background-color: #eceeef;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 10px;
}
