.btn {
    border-radius: 0;
    border-color: $brand-main;
    color: $brand-main;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.6rem 1.8rem;
}
.btn-default {
    background-color: white;

    &:hover {
        color: white;
        background-color: $brand-main;
    }
}
.btn-inverse {
    background-color: $brand-main;
    color: white;

    &:hover {
        background-color: white;
        color: $brand-main;
    }
}
.btn-transgero {
    background-color: white;

    &:hover {
        color: white;
        background-color: $brand-main;
    }
}