@font-face {
    font-family: 'Gillsans';
    src: url('../fonts/Gillsans/Gillsans.ttf') format('eot');
}
@font-face {
    font-family: 'SansSerif';
    src: url('../fonts/SansSerif/ClearSans-Regular.ttf') format('eot');
}
@font-face {
    font-family: 'Xoxoxa';
    src: url('../fonts/Xoxoxa/Xoxoxa.ttf') format('eot');
}