h1, h2, h3 {
    font-family: 'EB Garamond', serif;
}
h1 {
    margin: 0 0 50px;
    font-size: 50px;
}
a {
    color: $brand-black;

    &:hover {
        color: $brand-main;
    }
}
h4 {
    color: maroon;
}