.footer {
    position: relative;
    margin-top: -$footer-height;
    height: $footer-height;
    clear: both;
    padding-top: 20px;
    padding-bottom: 40px;
    color: white;
    a {
        color: white;
    }
}
#footer-gradient {
    background-color: #8f0000;
    //background: #ffffff; /* For browsers that do not support gradients */
    //background: -webkit-linear-gradient(#ffffff, #e8b2a9, #ffffff); /* For Safari 5.1 to 6.0 */
    //background: -o-linear-gradient(#ffffff, #e8b2a9, #ffffff); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(#ffffff, #e8b2a9, #ffffff); /* For Firefox 3.6 to 15 */
    //background: linear-gradient(#ffffff, #e8b2a9, #ffffff); /* Standard syntax */
}
.svg.social-media {
	width: 40px;
	margin-right: 10px;
}
/*MEDIA QUERY*/
@media only screen and (max-width : 525px) {

    .footer {
        height: 200px;
    }
    .svg.social-media {
        width: 20px;
    }
}