nav {
    background-color: white;
    -webkit-box-shadow: 0 -5px 10px #333;
    -moz-box-shadow: 0 -5px 10px #333;
    box-shadow: 0 -5px 10px #333;
    padding: 1.5rem 1rem !important;
    float: right;

    ul.nav {
        font-size: 12pt;

        li {
            display: inline;
            float: left;

            a {
                display: inline-block !important;
                padding: 0 20px 0 0;
                text-transform: uppercase;
                color: black;

                &:hover {
                    color: $brand-main;
                }
            }
            &:first-child {

                a {
                    padding-left: 0;
                }
             }
            &:not(:last-child):after {
                content: '|';
                display: inline;
                color: black;
            }
        }
        li.active {

            a {
                color: $brand-main !important;
            }
        }
    }
}
.claim-logo {
    text-align: center;
    padding: 0 0 50px;

    img {
        margin: 0 auto;
    }
}
#menu-icon {
    float: right;
	display: none;
	width: 40px;
	height: 40px;
	background: rgba(136, 21, 14, 1.0) url(../images/menu-icon.png) center;
}

a:hover#menu-icon {
	background-color: rgba(43, 17, 0, 1.0);
	border-radius: 4px 4px 0 0;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 850px) {

    header {
        position: absolute;
    }

    #menu-icon {
        display: inline-block;
    }

    nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 5px solid rgba(43, 17, 0, 1.0);
        right: 20px;
        top: 60px;
        width: 50%;
        border-radius: 4px 0 4px 4px;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    nav:hover ul {
        display: block;
    }
}

/*MEDIA QUERY*/
@media only screen and (max-width : 450px) {

    #logo_with_name {
        height: 30px;
    }
}
