td.field-verified select,
td.field-phone input,
td.field-mobile input,
td.field-gender select,
td.field-title select,
td.field-zip_code select {
    width: 80px;
}


th.column-request_number {
    min-width:80px;
}

td.field-first_name input,
td.field-last_name input,
td.field-main_contact select,
td.field-language select {
    width: 100px;
}

td.field-alias input {
    width:130px;
    font-size:9px;
}

.field-features select[multiple], select[size] {
    height: 400px;
}

.field-area select[multiple], select[size] {
    height: 400px;
}

td.field-salutation select {
    width: 80px;
}

td.field-revaluation input {
    width:30px;
}