//@media(min-width: $screen-md-max) {
//    .step__content {
//        min-height: 130px;
//    }
//}
//
//@media(max-width: $screen-md-max) {
//    .claim {
//        background-size: cover;
//        background-position: 0;
//
//        .search__text {
//            font-size: $font-size-h2;
//        }
//    }
//    .step__content {
//        min-height: 145px;
//    }
//}
//
//@media(min-width: $screen-sm-min) {
//    nav.container {
//        padding-left: 30px;
//        padding-right: 30px;
//    }
//    .profile-page {
//
//        .expose-item {
//            padding: 0px;
//            display:table;
//
//            &:hover {
//                .overlay {
//                    opacity: 1;
//                    -webkit-transition: opacity 300ms;
//                    -moz-transition: opacity 300ms;
//                    -o-transition: opacity 300ms;
//                    transition: opacity 300ms;
//                }
//            }
//        }
//        .overlay {
//            background-color: rgba(255,255,255,0.75);
//            display: table-cell;
//            vertical-align: middle;
//            color: $brand-gray;
//            position: absolute;
//            height: 100%;
//            width: 100%;
//            text-align: center;
//            opacity: 0;
//            padding: 10px;
//            top:0;
//            padding-left: 20px;
//            font-size: 10pt;
//            -webkit-transition: opacity 500ms;
//            -moz-transition: opacity 500ms;
//            -o-transition: opacity 500ms;
//            transition: opacity 500ms;
//
//            span {
//                display: table-cell;
//                text-align:center;
//                vertical-align: middle;
//            }
//        }
//    }
//    .search__error {
//        h1, h2 {
//            padding-left: 0px;
//        }
//    }
//    .claim {
//        min-height: 600px;
//    }
//}
//
//@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
//
//    .navbar-brand {
//        img {
//            width: 190px;
//            margin-top: 5px;
//            margin-left: -10px;
//        }
//    }
//}
//
//@media(max-width: $screen-sm-max) {
//    .step__content {
//        min-height: 180px;
//    }
//    .profile__details {
//        padding-top: 0;
//    }
//
//    .search__text {
//        font-size: $font-size-base*2;
//    }
//    .profile__competencies {
//        margin-top: 10px;
//    }
//    .rating__image {
//        max-height: 200px !important;
//    }
//}
//
//@media(max-width: $screen-xs-max) {
//    $navbar-height: 75px;
//    $navbar-padding-horizontal: -10px !important;
//
//    body {
//        padding-top: $navbar-height;
//    }
//
//    .container {
//        @include nopadding();
//    }
//    .h2 {
//        background-color: $brand-color-even;
//        padding: $brand-padding*2 0;
//        text-align: center;
//        margin-bottom: 0px;
//    }
//    .step__content {
//        min-height: 120px;
//    }
//    .twocol {
//        min-height: 300px;
//    }
//    section {
//        border-bottom: 0px;
//    }
//    .firstsection {
//        margin-top: 0px;
//    }
//    .functions {
//        .function__element:nth-child(odd) {
//            background-color: $brand-color-even;
//        }
//        .function__element {
//            padding: $brand-padding*1.5;
//
//            p {
//                padding-bottom: $brand-padding;
//            }
//        }
//    }
//    .image-rev {
//        margin-bottom: $brand-padding;
//    }
//
//    .profile-page {
//
//        .overlay {
//            max-height: 200px;
//            background-color: rgba(106, 201, 122, 0.75);
//            bottom: 0;
//            color: #fff;
//            padding: 10px 0;
//            position: absolute;
//            width: 100%;
//            text-align: center;
//            opacity: 1;
//            display: inline-block;
//            margin-bottom: 0px;
//        }
//        .profile-image {
//            padding-right: 0;
//        }
//    }
//    .searchresults__results .profile-image {
//        min-height: 0;
//    }
//    .whatwedo {
//        background-color: white !important;
//    }
//    .whatwedo__element {
//        margin-top: $brand-padding;
//        padding-top: 0px;
//        padding-bottom: 0px;
//    }
//    .content-separator {
//        border-bottom: 0px solid #f5f5f5;
//        margin: $brand-padding;
//    }
//    .well {
//        margin-bottom: $brand-padding*2;
//    }
//    .claim {
//        min-height: 1px;
//    }
//    .claim__inner {
//        padding-top: 0 !important;
//        height: 100%;
//        position: relative;
//
//        #mainpage {
//            position: relative;
//            top: 0;
//            width: 100%;
//        }
//    }
//    .navbar-default {
//
//        min-height: $navbar-height;
//
//        .navbar-nav {
//            margin-top: $brand-padding/2;
//
//            button {
//                min-width: 100%;
//            }
//        }
//        .navbar-toggle {
//            margin: $brand-padding/2 $brand-padding/2;
//        }
//        .navbar-collapse {
//            max-height: 100% !important;
//        }
//        .navbar-brand {
//            padding: 0px;
//            margin-left: -15px;
//
//            img {
//                width: 190px;
//            }
//        }
//        .dropdown-menu {
//            margin-top: 0px !important;
//
//            > li > a {
//                padding: 5px 15px !important;
//            }
//        }
//    }
//    .mainpage {
//        .search__text  {
//            margin-bottom: 20px !important;
//        }
//        .claim {
//            margin-bottom: 0;
//
//            .highlight-box__inverse {
//                position: relative;
//                button {
//                    width: 100%;
//
//                    &:hover {
//                        color: $brand-primary;
//                    }
//                }
//
//                .search__part {
//                    min-height: 30px;
//                }
//            }
//        }
//        .search__btn__submit {
//            border: 0px;
//
//            &:hover {
//                color: $brand-primary !important;
//                border: 0px !important;
//            }
//        }
//        .highlight-box__search {
//            .search__title {
//                text-align: left;
//                padding-right: 20px;
//                padding-left: 20px;
//            }
//            .search__text {
//                margin-bottom: 20px;
//
//                .search__title {
//                    text-align: left;
//                }
//            }
//            .input-group-btn {
//                padding-top: 20px;
//            }
//        }
//        .highlight-box__parent {
//            margin: 50px 15px;
//        }
//    }
//
//    .highlight-box__inverse .buttons button:last-child {
//        margin-right: 0px;
//    }
//    .buttons {
//        padding-left: $brand-padding;
//        padding-right: $brand-padding;
//    }
//    .search__part {
//        display: block;
//        margin-bottom: 10px;
//        border-radius: 0;
//
//        &:first-of-type {
//            border-radius: 0;
//        }
//
//        &:last-of-type {
//            border-radius: 0;
//            margin-left: 0;
//            margin-bottom: 0;
//        }
//    }
//    .search__text {
//        font-size: $font-size-base*1.5 !important;
//    }
//
//    .search__input-group {
//        input {
//            text-align: center;
//            border-radius: 0 0 0 0;
//            width: 100% !important;
//            margin: 14px auto;
//        }
//    }
//    .search__dropdown {
//        button {
//            border-radius: 0;
//        }
//        .dropdown-menu {
//            text-align: center;
//        }
//    }
//    .search__submit {
//        padding: 0;
//    }
//    .search__btn__submit {
//        background-color: $brand-primary;
//        color: white !important;
//        border-radius: $border-radius-base;
//        border: 2px solid white;
//        margin-left: 0px;
//
//    }
//    .search__inner {
//
//        .search__submit {
//            padding-left: 0;
//            padding-right: 0;
//        }
//    }
//    .steps {
//        @include nopadding();
//        border-bottom: 0px solid #ccc;
//        padding-bottom: 0px;
//
//        .step {
//
//            padding: $brand-padding*2 $brand-padding*2 $brand-padding;
//
//            &:after {
//                display: none;
//            }
//            .step__number {
//                background: transparent;
//            }
//            &:last-of-type {
//                margin-bottom: 0;
//            }
//            &:nth-child(even) {
//                background: #ffffff;
//            }
//            &:nth-child(odd) {
//                background: $brand-color-even;
//            }
//        }
//        .connect {
//            background-color: white !important;
//        }
//    }
//
//    .hightlight-box__content {
//        padding-top: $brand-padding*4;
//        padding-bottom: $brand-padding*3;
//        padding-left: 0px;
//        padding-right: 0px;
//    }
//
//    .alternate-row__item {
//        text-align: center;
//
//        &:first-child {
//            border-top: 1px solid #f5f5f5;
//        }
//        img,
//        strong {
//            margin: 0 auto 20px;
//            display: block;
//        }
//
//        &:nth-child(even) {
//            background-color: $brand-color-even;
//        }
//        &:nth-child(odd):not(.even) {
//            background-color: white;
//        }
//        &:last-child {
//            border-bottom: 1px solid #f5f5f5;
//        }
//    }
//    .profile__details {
//
//        p {
//            margin-bottom: 0;
//
//            .experience {
//                font-size: $font-size-base;
//            }
//        }
//    }
//    .benefits {
//
//        h1 {
//            &:after {
//                content: ":";
//            }
//        }
//        .benefit__element {
//            img {
//                width: 40px;
//                height: auto;
//            }
//        }
//    }
//    .footer {
//        text-align: center;
//        padding-top: 0px;
//    }
//    .footer__col {
//        margin-bottom: $brand-padding*2;
//    }
//
//    .profile {
//        padding: 40px 0 0;
//    }
//    .profile__activity {
//        padding: $brand-padding $brand-padding 0;
//    }
//    .profile__activity__header {
//        margin-bottom: 20px;
//    }
//
//    .profile__activity--wrap {
//
//        .profile__activity h1 {
//            color: $text-color;
//            margin-bottom: 10px;
//        }
//    }
//    .profile__box {
//        padding: 0;
//    }
//
//    .searchresults__pagination {
//        .pagination {
//            a {
//                margin: 0;
//            }
//        }
//    }
//    .about {
//
//        .h6, .list-cert {
//            padding: 0 15px;
//        }
//        .left-row {
//
//            .h5 {
//                margin-top: 0px !important;
//            }
//        }
//        .list-languages {
//
//            padding: 0 15px 15px 15px;
//
//            li {
//                display: inline !important;
//
//                &:not(:last-child):after {
//                    content: " | ";
//                }
//            }
//        }
//    }
//
//    .newsletter-title {
//        font-size: $font-size-base*1.5;
//        font-weight: bold;
//        padding: $brand-padding 0;
//    }
//
//    .single-page {
//        margin-top: 0;
//    }
//    .sort {
//        .dropdown-menu {
//            width: 100%;
//            text-align: center;
//        }
//    }
//    .btn-sort {
//        margin-top: $brand-padding;
//        width: 100%;
//    }
//    .mobile-space-top {
//        margin-top: $brand-padding;
//    }
//    .h1.nopadding {
//        padding-left: $brand-padding/1.2 !important;
//    }
//    [class^="col-"] > .h1.nopadding {
//        padding-left: 0px !important;
//    }
//    .profile [class^="col-"] > .h1.nopadding {
//        padding-left: $brand-padding/1.2 !important;
//    }
//    .search__error {
//        h1, h2 {
//            text-align: center;
//            display: block;
//        }
//    }
//
//    .sortblock .dropdown {
//        width: 100%;
//        text-align: center;
//
//        button {
//            text-align: center;
//            padding-left: 60px !important;
//        }
//    }
//    .container.profile__part {
//        padding-bottom: 0px;
//    }
//    .social-media {
//        img {
//            margin: 0 auto;
//        }
//    }
//    .highlight-box--small {
//        padding: 30px 15px;
//    }
//    .sortblock {
//        padding: 0px !important;
//    }
//    .navbar-toggle {
//        margin-right: 0px !important;
//    }
//    .expose-item {
//        padding: 0 0 !important;
//        margin: 0 15px;
//    }
//    .profile {
//
//        .carousel-inner {
//            margin-left: 0;
//        }
//    }
//    .searchresults__results {
//        .even .profile__part {
//            border-bottom: 0;
//        }
//        .profile-competencies {
//            margin-bottom: 10px;
//            margin-top: 0;
//
//            > div {
//                padding-left: 0;
//                margin-bottom: 10px;
//
//                > small {
//                    @extend .hidden-xs;
//                }
//                > ul {
//                    padding-left: 5px;
//                }
//            }
//        }
//        .profile-details {
//            margin-top: 0;
//        }
//        .profile-competencies {
//            ul {
//                margin-top: 0;
//            }
//        }
//    }
//    .city-text-image {
//        img {
//            width: 100%;
//            margin-bottom: $brand-padding*2;
//        }
//    }
//    .rating__image {
//        max-height: 300px !important;
//        min-height: 250px;
//        height: auto;
//
//        img {
//            width: 100%;
//        }
//    }
//    .page {
//        margin-bottom: 0px;
//    }
//}
