{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block title %}{{ title }} | {% trans 'transgero Admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name" class="h1">{% trans 'transgero Admin' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}


{% block extrahead %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/vendor/tinymce.min.js' %}"></script>
    <script type="text/javascript">
    tinymce.init({
        selector: "#id_seo_text",
        plugins : 'link image lists preview code searchreplace print media fullscreen anchor'

     });

    tinymce.init({
        selector: "#id_teaser_text",
        plugins : 'link image lists preview code searchreplace print media fullscreen anchor'

     });
    </script>

{% endblock %}