
<h1>list of companies</h1>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>address</th>
    </tr>
{%  for company in all_companies_set %}
    <tr>
        <td>{{ company.company_id }}</td>
        <td>{{ company.company_name }}</td>
        <td>{{ company.company_address_street }}<br>
            {{ company.company_address_state }}<br>
            ZIP- {{ company.company_address_zipcode }}<br>
            {{ company.company_address_country }}
        </td>
    </tr>
{% endfor %}
</table>