extends ./../layout

block content
    .container
        .row
            .col-sm-offset-4.col-sm-4
                form#about_us.ajaxForm(method='POST', action="{% url 'about' %}", enctype='multipart/form-data')
                    | {% csrf_token %}
                    | {{ contact_form | crispy }}
                    input.btn.btn-default.btn-primary(type='submit', value='Submit')
