extends ./../layout.jade

block description
    meta(name="description" content="{% trans 'Delivery of anything anywhere at any time. Order from your neighborhood and it will at your doorstep at no time.' %} ")

block title
    title Transgero - Home
block content
    .mainpage
        .claim.vertical-align
            .claim__inner
                div
                    .row
                        .highlight-box__inverse.highlight-box__search
                            h1
                                | {% trans 'Delivery' %} <br>
                                | {% if LANGUAGE_CODE == 'de' %}
                                | <font style="color:maroon"><b><span class="de-typewriter"></span></b></font>
                                | {% else %}
                                | <font style="color:maroon"><b><span class="typewriter"></span></b></font>
                                | {% endif %}
                                | <br>{% trans 'to your doorstep.' %}
                            button.btn.btn-danger.active.btn-sm(type="button" data-toggle="modal" data-target="#my_order") {% trans 'Order Online' %}
            //Modal
            .modal.fade(id="my_order" role="dialog")
                .modal-dialog(role='document')
                    .modal-content
                        form.ajaxForm(id="order_save" method="POST" action="{% url 'order_save' %}" enctype="multipart/form-data")
                            | {% csrf_token %}
                            .modal-header
                                button.close(type="button" data-dismiss="modal") &times;
                                h1.modal-title {% trans 'Order' %}
                            .modal-body
                                .formFields {{ order_form|crispy }}
                            .modal-footer
                                button.btn.btn-success.active.pull-right(type="submit" id="order__delivery_form") {% trans 'Pay on Delivery' %}
    .page
        article#details
            .details
                .container.home
                    .row
                        .col-sm-6.text-sm-center
                            .well
                                .row.text-sm-center
                                    h2 {% trans 'Anything from your neighborhood' %}
                                .row.text-sm-left
                                    ul(style="list-style-type:disc")
                                        li {% trans 'Your favorite restaurant' %}
                                        li {% trans 'Supermarkets' %}
                                        li {% trans 'Books' %}
                                        li {% trans 'Kiosk' %}
                                        li {% trans 'Cosmetic shop' %}
                                        li {% trans 'Flower shop' %}
                                        li {% trans 'Bakery' %}
                                        li {% trans 'Electronic equipments shop' %}
                                        li {% trans 'Auto store' %}
                                        li {% trans 'Household items shop' %}
                                        li {% trans 'Food products' %}
                                        li {% trans 'Personal delivery' %}
                                .row
                        .col-sm-6.text-sm-center
                            .row.text-sm-center
                                .well
                                    p {% trans 'Place an order. Anything you' %} &nbsp;
                                        a(href="#my_order" data-toggle="modal")
                                            span.highlight {% trans 'wish' %}
                                        |.
                                    p {% trans 'Busy in a meeting.' %} &nbsp;
                                        a(data-toggle="modal" href="#my_order")
                                            span.highlight {% trans 'Order online' %}
                                        |.
                                    p {% trans "Save your details. Just" %} &nbsp;
                                        a(href="{% url 'customer_registration' %}")
                                            span.highlight {% trans 'Register' %}
                                        | .
                            .row.text-sm-center
                                h2 {% trans 'Delivery in just few minutes !' %}
                                img(id="deliveryImage" src="{% static 'images/logo.svg' %}" alt="Logo/Brand" height=125)
                            .row
                                br
                                a.btn.btn-success.active.btn-sm(href="{% url 'all_orders' %}") {% trans 'All Orders' %}


        hr

        article#about
            .about-us
                .container.home
                    .row
                        h2 {% trans 'About us' %}
                        h4 {% trans 'A community driven service' %}
                        p {% trans 'For anyone who needs something urgent can place an order. At the same time if someone wants to earn some money can become a GERO and grab this opportunity to negotiate and complete the delivery.' %}
                        h4 {% trans 'Bid' %}
                        p {% trans 'Customer: Mention how much you want to pay to get something delivered.' %}
                        h4 {% trans 'Negotiate' %}
                        p {% trans 'Gero: Negotiate with the customer to pay more or pay even less.' %}
                        h4 {% trans 'Choose your Gero' %}
                        p {% trans 'Customer: Choose a Gero whichever you find best.' %}
                        h4 {% trans 'Delivery' %}
                        p {% trans 'Gero completes the order and delivery and earns money.' %}
                        br
                    .row
                        .row
                            .col-sm-4
                                div(id="team_slide").hover-indicator
                                    h2 {% trans 'Know the team' %}
                            .col-sm-8.text-sm-center
                                p.tagline {% trans 'TRANSGERO is the simplest way to get anything from your city at your doorstep.' %}
                        .row(id="team_panel")
                            .profiles
                                .row
                                    .col-md-6.text-xs-center.profile
                                        img.img-circle(src="{% static 'images/shubham.jpg' %}" height="100px")
                                    .col-md-6.text-xs-center.profile
                                        img.img-circle(src="{% static 'images/debanjan.jpg' %}" height="100px")
                        hr
                        .row
                            .col-sm-4
                                div(id="cities").hover-indicator
                                    h2 {% trans 'Find your city' %}
                            .col-sm-8
                                form.cityForm.form-inline(id="find-city" method="POST" action="{% url 'find_city' %}" enctype="multipart/form-data")
                                    | {% csrf_token %}
                                    .form-group
                                        | {{ find_city_form.city.errors }}
                                        input.form-control(type='text', placeholder="{{ find_city_form.city.label }}" id='id_city' name='city')
                                    button.btn.btn-default(type="submit") {% trans 'Check' %}
                                    | &nbsp;
                                    img.city-status(id='city-success' src="{% static 'images/success.svg' %}" height="20px")
                                    img.city-status(id='city-error' src="{% static 'images/error.svg' %}" height="20px")
                        .row(id="all_cities")
                            | {% for place in places %}
                            .col-sm-3.text-sm-center
                                p.places {{ place.user__address_city }}, {{ place.user__address_country }}
                            | {% if forloop.counter|divisibleby:4 %}
                        .row
                            | {% endif %}
                            | {% endfor %}
        hr

        article#contact
            .contact
                .container
                    .row
                        .col-sm-6.gero-claim

                        .col-sm-6.gero-form
                            .row.text-sm-center
                                h2 {% trans 'Become a GERO - become a sender' %}
                                br
                            .row.gero-form
                                h4 {% trans 'Earn money' %}
                                p {% trans 'Deliver stuffs to the people and get paid.' %}
                                h4 {% trans 'Meet new people' %}
                                p {% trans 'Know more people from your city by providing them what they need.' %}
                                h4 {% trans 'Work from home' %}
                                p {% trans 'No need to move much. Just deliver to your neighbours.' %}
                                h4 {% trans 'Flexible working hours' %}
                                p {% trans 'Choose your own time for your workout. Deliver and get warmed up.' %}
                                a.btn.btn-default.btn-primary(href="{% url 'employee_registration' %}") Gero Registration



block extra_js
    //Flipping image icons on home page
    script.
        var images = ["{% static 'images/logo.svg' %}","{% static 'images/delivered.svg' %}"];
        var i = 0;
        var renew = setInterval(function(){
        if(images.length == i){
            i = 0;
        }
        else {
            document.getElementById("deliveryImage").src = images[i];
            i++;
        }
        },2000);

    script.
        // Sliding window for team profile
        $(document).ready(function () {
            $("#team_slide").click(function () {
                $("#team_panel").slideToggle("slow");
            });
        });
        // Sliding window for find_city
        $(document).ready(function () {
            $("#cities").click(function () {
                $("#all_cities").slideToggle("slow");
            });
        });

        // Submission of find city form
        $(function () {
            //hang on event of form with id=myform
            $("#find-city").submit(function (e) {

                var result_success = $('#city-success');
                var result_error = $('#city-error');

                //prevent Default functionality
                e.preventDefault();

                //get the action-url of the form
                var actionurl = e.currentTarget.action;

                //do your own request an handle the results
                $.ajax({
                    url: actionurl,
                    type: 'post',
                    dataType: 'json',
                    data: $("#find-city").serialize(),
                    success: function (response, status, jqXHR) {
                        if (response.success == true) {
                            result_success.fadeIn("slow");
                            result_success.delay(5000).fadeOut(3000);
                        }
                        else {
                            result_error.fadeIn("slow");
                            result_error.delay(5000).fadeOut(3000);
                        }
                        console.log(response);
                    }
                });

            });

        });
