<!DOCTYPE html>{% load staticfiles i18n cloudinary crispy_forms_tags crispy_forms_field humanize %}
{% get_current_language as LANGUAGE_CODE %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>{% cloudinary_includes %}
{% cloudinary_js_config %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="K0n1HKCAoe4RBEcyo0jVEUPDiqzliwDNkT0kNvq6bek"><!--[if lte IE 8]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js">
      <noscript><strong>Warning!</strong>Your browser does not support HTML5 so some elements on this page are simulated using JScript. Unfortunately your browser has JScript disabled. Please enable it in order to display this page.</noscript>
    </script><![endif]-->
    <!--[if lte IE 6]><meta http-equiv="imagetoolbar" content="no" /><![endif]-->
    <meta name="robots" content="index, follow">
    <link rel="apple-touch-icon" href="{% static 'images/logo.png' %}">
    <link rel="shortcut icon" href="{% static 'images/logo_pVn_icon.ico' %}" type="image/x-icon">
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <!-- CSS-->
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/morphext.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- JS-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/vendor/parallax.js' %}"></script>
    <!--script(src="{% static 'js/vendor/morphext.min.js' %}")-->
    <script src="{% static 'js/vendor/typed.min.js' %}"></script>
    <script src="{% static 'js/src/main.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">{% if success %}
        <div role="alert" class="alert alert-success alert-dismissable alert-hide">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times</span></button>{{ success }}
        </div>{% endif %}
        {% if error %}
        <div role="alert" class="alert alert-danger alert-dismissable alert-hide">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times</span></button>{{ error }}
        </div>{% endif %}
        <div class="navbar-header"><a href="{% url 'index' %}" class="navbar-brand"><img id="logo_with_name" src="{% static 'images/logo_with_name.svg' %}" alt="Logo/Brand" height="40"></a>
          <!-- Mobile Menu--><a href="#" id="menu-icon"></a>
          <!-- Content-->
          <ul class="nav navbar-nav pull-right">
            <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a href="{% url 'index' %}#about" class="nav-link">{% trans 'About Us' %}</a></li>
            <li class="nav-item">{% if user.is_authenticated %}<a href="{% url 'profile' %}" class="nav-link">{% trans 'Profile' %}</a></li>
            <li class="nav-item"><a href="{% url 'auth_logout' %}" class="nav-link">{% trans 'Log Out' %}</a>{% else %}<a href="{% url 'customer_registration' %}" class="nav-link">{% trans 'Register' %}</a></li>
            <li class="nav-item"><a href="{% url 'auth_login' %}" class="nav-link">{% trans 'Log In' %}</a>{% endif %}</li>
            <li class="nav-item"><a href="/en/" class="nav-link">EN</a>/<a href="/de/" class="nav-link">DE</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="wrap">
      <div id="main">
        <div class="container">
          <h1>Privacy Policy</h1>
          <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
          <h3>What personal information do we collect from the people that visit our blog, website or app?</h3>
          <p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number or other details to help you with your experience.</p>
          <h3>When do we collect information?</h3>
          <p>We collect information from you when you register on our site, place an order, subscribe to a newsletter, respond to a survey, fill out a form, Use Live Chat, Open a Support Ticket or enter information on our site.</p>
          <p>Provide us with feedback on our products or services</p>
          <h3>How do we use your information?</h3>
          <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
          <ul>
            <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
            <li>To improve our website in order to better serve you.</li>
            <li>To allow us to better service you in responding to your customer service requests.</li>
            <li>To administer a contest, promotion, survey or other site feature.</li>
            <li>To quickly process your transactions.</li>
            <li>To ask for ratings and reviews of services or products</li>
            <li>To follow up with them after correspondence (live chat, email or phone inquiries)</li>
          </ul>
          <h3>How do we protect your information?</h3>
          <ul>
            <li>We do not use vulnerability scanning and/or scanning to PCI standards.</li>
            <li> We only provide articles and information. We never ask for credit card numbers.</li>
            <li>We do not use Malware Scanning.</li>
          </ul>
          <h3>We do not use an SSL certificate</h3>
          <p>We do not need an SSL because: we are not doing any monetary transactions online.</p>
          <h3>Do we use 'cookies'?</h3>
          <p>We do not use cookies for tracking purposes.</p>
          <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.</p>
          <p>If you turn cookies off, some features will be disabled. that make your site experience more efficient and may not function properly.</p>
          <p>However, you will still be able to place orders .</p>
          <h3>Third-party disclosure</h3>
          <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>
          <h3>Third-party links</h3>
          <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
          <h3>Google</h3>
          <p>Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en</p>
          <p>We use Google AdSense Advertising on our website.</p>
          <p>Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.</p>
          <ul>We have implemented the following:
            <li>Remarketing with Google AdSense</li>
            <li>Google Display Network Impression Reporting</li>
            <li>Demographics and Interests Reporting</li>
            <li>DoubleClick Platform Integration</li>
          </ul>
          <p>We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>
          <h3>Opting out:</h3>
          <p>Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.</p>
          <h3>California Online Privacy Protection Act</h3>
          <p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</p>
          <ul>According to CalOPPA, we agree to the following:
            <li>Users can visit our site anonymously.</li>
            <li>Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.</li>
            <li>Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.</li>
          </ul>
          <ul>You will be notified of any Privacy Policy changes:
            <li>On our Privacy Policy Page</li>
          </ul>
          <ul>Can change your personal information:
            <li>By emailing us</li>
          </ul>
          <h3>How does our site handle Do Not Track signals?</h3>
          <p>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
          <h3>Does our site allow third-party behavioral tracking?</h3>
          <p>It's also important to note that we allow third-party behavioral tracking</p>
          <h3>COPPA (Children Online Privacy Protection Act)</h3>
          <p>When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.</p>
          <p>We do not specifically market to children under the age of 13 years old.</p>
          <h3>Fair Information Practices</h3>
          <p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>
          <h3>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</h3>
          <P>We will notify you via email Within 7 business days</P>
          <h3>We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</h3>
          <h3>CAN SPAM Act</h3>
          <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>
          <ul>We collect your email address in order to:
            <li>Send information, respond to inquiries, and/or other requests or questions</li>
            <li>Process orders and to send information and updates pertaining to orders.</li>
            <li>Send you additional information related to your product and/or service</li>
            <li>Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.</li>
          </ul>
          <ul>To be in accordance with CANSPAM, we agree to the following:
            <li>Not use false or misleading subjects or email addresses.</li>
            <li>Identify the message as an advertisement in some reasonable way.</li>
            <li>Include the physical address of our business or site headquarters.</li>
            <li>Monitor third-party email marketing services for compliance, if one is used.</li>
            <li>Honor opt-out/unsubscribe requests quickly.</li>
            <li>Allow users to unsubscribe by using the link at the bottom of each email.</li>
          </ul>
          <h3>If at any time you would like to unsubscribe from receiving future emails, you can email us at info@transgero.com and we will promptly remove you from ALL correspondence.</h3>
          <h3>Contacting Us</h3>
          <p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>
          <p>http://www.transgero.com, Klüberstraße 27, Berlin 12249, Germany contact@transgero.com</p>
          <h3>Last Edited on 2016-11-06</h3>
        </div>
      </div>
    </div>
    <footer>
      <div id="footer-gradient">
        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 text-xs-left">
                <div class="row"><a href="/" class="navbar-brand"><img id="logo_with_name" src="{% static 'images/logo_with_name_white.png' %}" alt="Logo/Brand" height="50" class="img-responsive"></a></div>
                <div class="row"><i class="fa fa-envelope">&nbsp;</i><a href="mailto:contact@transgero.com">contact@transgero.com</a><br><br><a href="{% url 'imprint' %}">{% trans 'Imprint' %}</a>&nbsp; | &nbsp;<a href="{% url 'privacy' %}">{% trans 'Privacy' %}</a></div>
              </div>
              <div class="col-sm-6 text-xs-right">
                <div class="row"><a href="https://www.facebook.com/transgero" target="_blank"><img src="{% static 'images/icons/facebook.svg' %}" alt="Facebook" width="32" class="svg social-media"></a><a href="https://www.twitter.com/TransgeroCom" target="_blank"><img src="{% static 'images/icons/twitter.svg' %}" alt="Twitter" width="32" class="svg social-media"></a><a href="https://www.instagram.com/transgero" target="_blank"><img src="{% static 'images/icons/instagram.svg' %}" alt="Instagram" width="32" class="svg social-media"></a></div>
                <div class="row"><br>
                  <p>Copyright © 2016</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="{% static 'js/vendor/tether.min.js' %}"></script>
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>{% if not request.user.is_superuser and STAGE == 'default' %}
          <script>
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
             ga('create', 'UA-83361244-1', 'auto');
             ga('send', 'pageview');
          </script>{% else %}
          <script>
            ga = function () {
                console.log('ga:', arguments);
            };
            
          </script>{% endif %}
  <script>$('.alert-hide').delay(5000).fadeOut(3000);</script>
</html>