extends ./../layout.jade

block content
    .container
        h1 Privacy Policy
        p This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.

        h3 What personal information do we collect from the people that visit our blog, website or app?
        p When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number or other details to help you with your experience.

        h3 When do we collect information?
        p We collect information from you when you register on our site, place an order, subscribe to a newsletter, respond to a survey, fill out a form, Use Live Chat, Open a Support Ticket or enter information on our site.

        p Provide us with feedback on our products or services

        h3 How do we use your information?

        p We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
        ul
            li To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
            li To improve our website in order to better serve you.
            li To allow us to better service you in responding to your customer service requests.
            li To administer a contest, promotion, survey or other site feature.
            li To quickly process your transactions.
            li To ask for ratings and reviews of services or products
            li To follow up with them after correspondence (live chat, email or phone inquiries)

        h3 How do we protect your information?
        ul
            li We do not use vulnerability scanning and/or scanning to PCI standards.
            li  We only provide articles and information. We never ask for credit card numbers.
            li We do not use Malware Scanning.

        h3 We do not use an SSL certificate
        p We do not need an SSL because: we are not doing any monetary transactions online.

        h3 Do we use 'cookies'?
        p We do not use cookies for tracking purposes.
        p You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.
        p If you turn cookies off, some features will be disabled. that make your site experience more efficient and may not function properly.
        p However, you will still be able to place orders .


        h3 Third-party disclosure
        p We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.

        h3 Third-party links
        p Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.

        h3 Google
        p Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en
        p We use Google AdSense Advertising on our website.
        p Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.

        ul We have implemented the following:
          li Remarketing with Google AdSense
          li Google Display Network Impression Reporting
          li Demographics and Interests Reporting
          li DoubleClick Platform Integration

        p We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.

        h3 Opting out:
        p Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.

        h3 California Online Privacy Protection Act

        p CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf

        ul According to CalOPPA, we agree to the following:
            li Users can visit our site anonymously.
            li Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.
            li Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.

        ul You will be notified of any Privacy Policy changes:
            li On our Privacy Policy Page
        ul Can change your personal information:
            li By emailing us

        h3 How does our site handle Do Not Track signals?
        p We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.

        h3 Does our site allow third-party behavioral tracking?
        p It's also important to note that we allow third-party behavioral tracking

        h3 COPPA (Children Online Privacy Protection Act)
        p When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.
        p We do not specifically market to children under the age of 13 years old.

        h3 Fair Information Practices
        p The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.

        h3 In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
        P We will notify you via email Within 7 business days

        h3 We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.

        h3 CAN SPAM Act
        p The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.

        ul We collect your email address in order to:
            li Send information, respond to inquiries, and/or other requests or questions
            li Process orders and to send information and updates pertaining to orders.
            li Send you additional information related to your product and/or service
            li Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.

        ul To be in accordance with CANSPAM, we agree to the following:
            li Not use false or misleading subjects or email addresses.
            li Identify the message as an advertisement in some reasonable way.
            li Include the physical address of our business or site headquarters.
            li Monitor third-party email marketing services for compliance, if one is used.
            li Honor opt-out/unsubscribe requests quickly.
            li Allow users to unsubscribe by using the link at the bottom of each email.

        h3 If at any time you would like to unsubscribe from receiving future emails, you can email us at info@transgero.com and we will promptly remove you from ALL correspondence.


        h3 Contacting Us

        p If there are any questions regarding this privacy policy, you may contact us using the information below.
        p http://www.transgero.com, Klüberstraße 27, Berlin 12249, Germany contact@transgero.com

        h3 Last Edited on 2016-11-06