mixin claim-logo()
    .container.home
        .row
            .col-sm-6.text-center
                h2 Anything you wish to order from your neighborhood ...
                ul(style="list-style-type:none")
                    li Your favorite restaurant
                    li Supermarkets
                    li Kiosk
                    li Cosmetic shop
                    li Flower shop
                    li Bakery
                    li Electronic equipments shop
                    li Auto store
                    li Household items shop
                    li Food products
                    li Personal delivery
            .col-sm-6.text-sm-center
                h2 Delivery in just few minutes !
                img(id="deliveryImage" src="{% static 'images/logo.svg' %}" alt="Logo/Brand" height=150)
                h2 Place your order !
                p Call us and tell us your wish.
                p Busy in a meeting. Order online.
                p Don't have any cash. Pay by your credit card.

mixin gaSetup()
    | {% if not request.user.is_superuser and STAGE == 'default' %}
    +gaProduction()
    | {% else %}
    +gaDevelopment()
    | {% endif %}

mixin gaDevelopment()
    script.
        ga = function () {
            console.log('ga:', arguments);
        };

mixin gaProduction()
    |<script>
    |    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
    |    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    |    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    |})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    |    ga('create', 'UA-83361244-1', 'auto');
    |    ga('send', 'pageview');
    |</script>

mixin pagination(base_url)
    .row
        .col-sm-12
            .container
                ul.pagination
                    | {% for page_nr in pages %}
                    | {% if page_nr == current_page %}
                    li
                        a.active(href="#{base_url}?page={{ page_nr }}") {{ page_nr }}
                    | {% else %}
                    li
                        a(href="#{base_url}?page={{ page_nr }}") {{ page_nr }}
                    | {% endif %}
                    | {% endfor %}