doctype html
| {% load staticfiles i18n cloudinary crispy_forms_tags crispy_forms_field humanize %}
| {% get_current_language as LANGUAGE_CODE %}
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
| {% cloudinary_includes %}
| {% cloudinary_js_config %}
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name="google-site-verification" content="K0n1HKCAoe4RBEcyo0jVEUPDiqzliwDNkT0kNvq6bek")

        <!--[if lte IE 8]>
        script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
            noscript
                strong Warning!
                | Your browser does not support HTML5 so some elements on this page are simulated using JScript. Unfortunately your browser has JScript disabled. Please enable it in order to display this page.
        <![endif]-->
        <!--[if lte IE 6]><meta http-equiv="imagetoolbar" content="no" /><![endif]-->

        block title
        block robots
            meta(name="robots" content="index, follow")
        block description

        link(rel="apple-touch-icon" href="{% static 'images/logo.png' %}")
        link(rel="shortcut icon" href="{% static 'images/logo_pVn_icon.ico' %}" type="image/x-icon")

        // Fonts
        link(href='https://fonts.googleapis.com/css?family=EB+Garamond', rel='stylesheet')

        // CSS
        link(rel="stylesheet" href="{% static 'css/styles.min.css' %}")
        link(rel="stylesheet" href="{% static 'css/morphext.css' %}")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")

        // JS
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="{% static 'js/vendor/parallax.js' %}")
        //script(src="{% static 'js/vendor/morphext.min.js' %}")
        script(src="{% static 'js/vendor/typed.min.js' %}")
        script(src="{% static 'js/src/main.js' %}")

    body
        include base.mixins.jade
        include ./layout/header.jade
        #wrap
            #main
                block content
        include ./layout/footer.jade
    script(src="{% static 'js/vendor/tether.min.js' %}")
    script(src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js")
    +gaSetup()
    block modal
    block extra_js
    script.
        $('.alert-hide').delay(5000).fadeOut(3000);