extends ../accounts/profile_layout

block user_action_data
    .container
        | {% if order %}
        .well.order-box
            .row
                br
                .col-sm-4
                    h4 {% trans 'Item details' %}
                    h5 {% trans 'Item' %}: {{ order.item }}
                    h5 {% trans 'Shop' %}: {{ order.shop }}
                    | {% if order.customer %}
                    h5 {% trans 'Customer ratings' %}: <br>
                        span.stars(data-rating="{{ order.customer.ratings }}" data-num-stars="5")
                    | {% endif %}
                .col-sm-4
                    h4 {% trans 'Delivery address' %}
                    h5 {{ order.address_street }} {{ order.address_house_number }} <br>
                        | {{ order.address_extra }}
                    h5 {{ order.address_city }} {{ order.address_postal_code }}
                    h5 {{ order.address_country }}
                .col-sm-4
                    h4 {% trans 'Status' %}
                    h5 {% trans 'Order status' %}:
                        | {% if order.status == 0 %}
                        img.img-responsive(src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO")
                        | {% elif order.status == 1 %}
                        img.img-responsive(src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress")
                        | {% elif order.status == 2 %}
                        img.img-responsive(src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete")
                        | {% endif %}
                    h5 {% trans 'Price' %}: {{ order.price }}
                    h5 {% trans 'Delivery Fee' %}: {{ order.fee }}
            .row
                hr
                br
                h2 Offers
                | {% if is_employee %}
                .table-responsive
                    table.table.table-condensed

                        thead
                            tr
                                th {% trans 'Fee' %}
                                th {% trans 'Time (min)' %}
                                th {% trans 'Ratings' %}
                        tbody
                            | {% for offer in offers %}
                            tr
                                td {{ offer.fee }}
                                td {{ offer.time_required }}
                                td
                                    span.stars(data-rating="{{ offer.employee.ratings }}" data-num-stars="5")
                            | {% endfor %}
            .row
                form.ajaxForm(id="order_offer_save" method="POST" action="{% url 'employee_order_process' order_id=order.display_hashid %}" enctype="multipart/form-data")
                    | {% csrf_token %}
                    .col-sm-6
                        | {{ order_process_form|crispy }}
                        button.btn.btn-default.btn-primary.btn-sm(type="submit") {% trans 'Submit' %}
                | {% endif %}
                | {% if is_customer %}
                .table-responsive
                    table.table.table-condensed
                        thead
                            tr
                                th {% trans 'Fee' %}
                                th {% trans 'Time (min)' %}
                                th {% trans 'Ratings' %}
                                th
                        tbody
                            | {% for offer in offers %}
                            tr
                                td {{ offer.fee }}
                                td {{ offer.time_required }}
                                td
                                    span.stars(data-rating="{{ offer.employee.ratings }}" data-num-stars="5")
                                td.text-sm-right
                                    | {% if order.employee == None %}
                                    a.btn.btn-success.active(href="{% url 'customer_offer_accept' offer_id=offer.encrypted_id %}") {% trans 'Accept' %}
                                    | {% elif offer.status %}
                                    button.btn.btn-default.btn-primary.disabled {% trans 'Accepted' %}
                                    | {% endif %}
                            | {% endfor %}
                | {% endif %}

        | {% else %}
        .row
            h3 The order has been processed.
        | {% endif %}

