extends ../accounts/profile_layout

block user_action_data
    | {% if city %}
    h4 {{ city }}
    | {% endif %}
    .table-responsive
        table.table.table-hover
            thead
                tr
                    th.text-sm-center {% trans 'Item' %}
                    th.text-sm-center {% trans 'Price' %}
                    th.text-sm-center {% trans 'City' %}
                    th.text-sm-center {% trans 'Fee' %}
                    th.text-sm-center {% trans 'Status' %}
            tbody
                | {% for order in orders %}
                tr.clickable-row(data-href="{% url 'employee_order_process' order_id=order.display_hashid %}")
                    td.text-sm-center {{ order.item }}
                    td.text-sm-center {{ order.price }}
                    td.text-sm-center {{ order.address_city }}
                    | {% if order.final_fee > 0 %}
                    td.text-sm-center {{ order.final_fee }}
                    | {% else %}
                    td.text-sm-center {{ order.fee }}
                    | {% endif %}
                    td.text-sm-center
                        | {% if order.status == 0 %}
                        img.img-responsive(src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO")
                        | {% elif order.status == 1 %}
                        img.img-responsive(src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress")
                        | {% elif order.status == 2 %}
                        img.img-responsive(src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete")
                        | {% endif %}
                | {% endfor %}

    +pagination("{% url 'all_orders' %}")

block extra_js
    script.
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
