extends ../accounts/profile_layout.jade

block user_action_data
    .container
        .row
            .well.order-box
                .col-sm-12
                    h2 Order ID: {{ order.display_hashid }}
                    | {% if order_customer_form %}
                    .row
                        form.ajaxForm(id="order_customer_form_save" method="POST" action="{% url 'customer_order_details' order_id=order.display_hashid %}" enctype="multipart/form-data")
                            | {% csrf_token %}
                            .formFields {{ order_customer_form|crispy }}
                            button.btn.btn-default.btn-primary(type="submit") {% trans 'Submit' %}
                    | {% endif %}
                    | {% if order_employee_form %}
                    .row
                        form.ajaxForm(id="order_employee_form_save" method="POST" action="{% url 'employee_order_details' order_id=order.display_hashid %}" enctype="multipart/form-data")
                            | {% csrf_token %}
                            .col-sm-6
                                .formFields {{ order_employee_form|crispy }}
                            .col-sm-6
                                button.btn.btn-default.btn-primary(type="submit") {% trans 'Submit' %}
                    | {% endif %}
        .row
            | {% if order %}
            .well.order-box
                .row
                    br
                    .col-sm-4
                        h4 {% trans 'Item details' %}
                        h6 {% trans 'Ordered by' %}: {{ order.source }}
                        h6 {% trans 'Customer name' %}: {{ order.name }}
                        h6 {% trans 'Phone' %}: {{ order.phone }}
                        h6 {% trans 'Email' %}: {{ order.email }}
                        h6 {% trans 'Item' %}: {{ order.item }}
                        h6 {% trans 'Shop' %}: {{ order.shop }}
                    .col-sm-4
                        h4 {% trans 'Delivery address' %}
                        h6 {% trans 'Street' %}: {{ order.address_street }}
                        h6 {% trans 'House nr' %}: {{ order.address_house_number }}
                        h6 {% trans 'Extra' %}: {{ order.address_extra }}
                        h6 {% trans 'City' %}: {{ order.address_city }}
                        h6 {% trans 'Postal code' %}: {{ order.address_postal_code }}
                        h6 {% trans 'Country' %}: {{ order.address_country }}
                    .col-sm-4
                        h4 {% trans 'Status' %}
                        h6 {% trans 'Order status' %}:
                            | {% if order.status == 0 %}
                            img.img-responsive(src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO")
                            | {% elif order.status == 1 %}
                            img.img-responsive(src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress")
                            | {% elif order.status == 2 %}
                            img.img-responsive(src="{% static 'images/home-delivered.svg' %}" height="40px" alt="")
                            | {% endif %}
                        h6 {% trans 'Price' %}: {{ order.price }}
                        h6 {% trans 'Initial delivery Fee' %}: {{ order.fee }}
                        h6 {% trans 'Final delivery Fee' %}: {{ order.final_fee }}
                        | {% if order.promotion_code.code %}
                        h6 {% trans 'Promotion-code' %}: {{ order.promotion_code.code }}
                        | {% endif %}
                        | {% if order.feedback %}
                        h6 {% trans 'Feedback' %}: {{ order.feedback }}
                        | {% endif %}
            | {% endif %}

