nav.navbar.navbar-fixed-top
    .container-fluid
        | {% if success %}
        div.alert.alert-success.alert-dismissable.alert-hide(role="alert")
            button.close(type="button" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times
            | {{ success }}
        | {% endif %}
        | {% if error %}
        div.alert.alert-danger.alert-dismissable.alert-hide(role="alert")
            button.close(type="button" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times
            | {{ error }}
        | {% endif %}
        .navbar-header
            a.navbar-brand(href="{% url 'index' %}")
                img(id="logo_with_name" src="{% static 'images/logo_with_name.svg' %}" alt="Logo/Brand" height=40)
            // Mobile Menu
            a(href="#" id="menu-icon")
            // Content
            ul.nav.navbar-nav.pull-right
                li.nav-item.active
                    a.nav-link(href="{% url 'index' %}")
                        | Home
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="{% url 'index' %}#about") {% trans 'About Us' %}
                li.nav-item
                    | {% if user.is_authenticated %}
                    a.nav-link(href="{% url 'profile' %}") {% trans 'Profile' %}
                li.nav-item
                    a.nav-link(href="{% url 'auth_logout' %}") {% trans 'Log Out' %}
                    | {% else %}
                    a.nav-link(href="{% url 'customer_registration' %}") {% trans 'Register' %}
                li.nav-item
                    a.nav-link(href="{% url 'auth_login' %}") {% trans 'Log In' %}
                    | {% endif %}
                li.nav-item
                    a.nav-link(href="/en/") EN
                    |/
                    a.nav-link(href="/de/") DE



